{% extends "layouts/welsh.html" %}
{% set alternateLink = "/en/register/start"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Cofrestru llety yng Nghymru
      </h1>

      <p>Pan fyddwch yn dechrau busnes llety newydd neu'n cymryd drosodd busnes sy'n bodoli eisoes, rhaid i chi gofrestru gyda'r gwasanaeth hwn. Dylech wneud hyn o leiaf 7 diwrnod cyn i bobl ddechrau aros mewn llety â thâl.</p>

      <p>Gall llety gynnwys:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Gwely a brecwast</li>
        <li>Meysydd gwersylla a maes carafanau</li>
        <li>Gwestai</li>
        <li>Hunanarlwyo</li>
      </ul>

      <p>Mae cofrestry yn cymrud tua 5 munud.</p>

      <p><a href="#">Mewngofnodi os ydych eisoes wedi cofrestru</a></p>

      <br>
      <a href="./country" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="start-button-gov-wales" style="box-shadow: 0 2px 0 #3b510d;">
        Dechrau nawr
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <br><br>
      <h2 class="govuk-heading-m">
        Cyn i chi ddechrau
      </h2>

      <p>
        Gallwch hefyd <a href="#">gofrestru drwy’r post</a>.
      </p>

    </div>

{% endblock %}
