{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="./homepage">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Visitor levy</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>        
        <li>
          <a class="govuk-link" href="#"></a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Nadiya Kanaa</h1>

        <div class="govuk-summary-card" id="summary-card">
          <div class="govuk-summary-card__title-wrapper" id="summary-card-wrapper">
            <h2 class="govuk-summary-card__title">
              <strong class="govuk-tag govuk-tag--pink">
                Liable party
              </strong>
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action" id="summary-card__action"> <a class="govuk-link" href="#">Assign<span class="govuk-visually-hidden"> property details</span></a>
              </li>             
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Nadiya Kanaa
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value">
                  nadiya@blueblueholidays.com<br>
                  07760834143
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Account created
                </dt>
                <dd class="govuk-summary-list__value">
                  27 January 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Companies
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">Bluebird Holidays Limited</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Properties registered
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#">
                  71 Nunney Avenue, Swandiff
                  </a>
                  <br>
                  <a href="#">
                  35 Newport Road, Carmouth
                  </a>
                  <br>
                  <a href="#">
                  41 Station Approach, Swandiff
                  </a>
                  <p class="govuk-body"><a href="#" id="back-link-gov-wales">View two more</a></p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Visitor levy
                </dt>
                <dd class="govuk-summary-list__value">
                <a href="#">523 nights stay</a><br>
                <a href="#">£1,046.00 collected</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Licences
                </dt>
                <dd class="govuk-summary-list__value">
                <a href="#">5 licences</a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                No response
              </h2>
              <p class="hods-timeline__by">
                by automated
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  1st September 2028 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Automatic flag to help desk
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Letter sent
              </h2>
              <p class="hods-timeline__by">
                by automated
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T10:04:00.000Z"
                >
                  15 July 2028 at 11:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Automated letter sent to 14 Harper Mews, Swandiff, SD16 4LF about late tax return for Jan - Mar 2028. 
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Email sent
              </h2>
              <p class="hods-timeline__by">
                by automated
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T10:04:00.000Z"
                >
                  15 June 2028 at 11:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Automated email was sent to nadiya@blueblueholidays.com to complete a return by 1st July 2028 
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Text message sent
              </h2>
              <p class="hods-timeline__by">
                by automated
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T10:04:00.000Z"
                >
                  1 April 2028 at 11:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Automated text message was sent to 07760834143 to complete a return for the Jan - Mar 2028 tax period.
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                Business closed
              </h2>
              <p class="hods-timeline__by">by Nadiya Kanaa</p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-01-25T09:35:00.000Z"
                >
                  25 January 2028 at 9:35am
                </time>
              </p>
              <p class="hods-timeline__description">
                Nadiya Kanaa closed Bluebird Holidays Limited, de-registering 5 properties.
              </p>
            </div>
          </div>
          <br>
          <p class="govuk-body"><a href="#" id="back-link-gov-wales">View more</a></p>

      </div>

    </div>
  </div>

{% endblock %}
