{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <script src="/public/javascripts/govukMarkdownIt.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Service users</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#"></a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-form-group" id="form-background-gov-wales">

      <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

      <h3 class="govuk-heading-xl" style="margin-bottom: 30px;">Edit email template</h3>

      {{ govukTextarea({
        name: "input-consent-md",
        id: "input-consent-md",
        label: {
          text: "Content",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: "
# What you need to do: visitor levy starts on [start-date] in [local-authority-name]

Dear [accommodation-holder-name],

From this date, all registered visitor accommodation in Swandiff will need to charge an extra [rate per rate type] for paid overnight stays.

## What you need to do

### Step one: Check you've correctly registered all your visitor accommodation

Sign into your visitor accommodation registration account check all records are correct:

[https://accommodation.register.wales/sign-in](#)

## Step two: Collect the levy from visitors who pay to stay overnight

From [date], you'll be responsible for collecting the visitor levy from your visitors. You'll need to charge an [amount by rate type] for each registered visitor accommodation.

### Step three: Remit the levy to the Welsh Revenue Authority (WRA)

You'll need to remit the collected visitor levy to the WRA. Detailed instructions on the remittance process are on the WRA's website: [date]

## Support

If you need further information or support about the visitor levy:

telephone our helpdesk [number]
visit our website: [link]
Thank you,
[local-authority-name]
"
      }) }}
      <br>
      <h3 class="govuk-heading-l">Preview</h3>
      <div id="preview-md" style="border: #0b0c0c 2px solid; padding: 15px; background: #fff;">
      </div>
      <br>

      <h2 class="govuk-heading-m">Now email service users about consultation</h2>
      <p class="govuk-body">By pressing publishing you will emaill all service users with registered accommodation in Swandiff. This cannot be cancelled once published.</p>

      <form action="./confirm" method="post" novalidate >

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Publish
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
            Save draft
          </button>
        </div>

      </form>
    </div>
  </div>

  </div>

  <script>
      const md = window.markdownit();
      md.use(window.govukMarkdownIt)
      const updateMd = () => {
          const input = document.getElementById("input-consent-md").value;
          document.getElementById("preview-md").innerHTML = md.render(input);
      }
      document.getElementById("input-consent-md").onchange = updateMd
      updateMd()
  </script>
{% endblock %}
