{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payment prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-l">Writing about these prototypes</h1>

    <p class="govuk-body-l">This part of the website explains some of the thinking about <a href="/">these prototypes</a>.</p>

    <p class="govuk-body-l">Providing detail on what we prototyped, why and what we changed having learned in research.</p> 

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/en/writing/sprint-1">How much do I know?</a>
      </li>
      <li>
        <a href="/en/writing/sprint-2">Single view</a>
      </li>
      <li>
        <a href="/en/writing/sprint-3">Test MVP with staff</a>
      </li>
      <li>
        <a href="/en/writing/sprint-4">Building a basic design</a>
      </li>
      <li>
        <a href="/en/writing/sprint-4-part-2">Thinking beyond MVP</a>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
