{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Visitor levy prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-l">Writing about these prototypes</h1>

    <p class="govuk-body-l">This part of the website explains some of the thinking about <a href="/">these prototypes</a>.</p>

    <p class="govuk-body-l">Providing detail on what we prototyped, why and what we would have next were there more time.</p> 

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/writing/sprint-8">Registration revised</a>
      </li>
      <li>
        <a href="/en/writing/sprint-9">Key moments for accommodation providers</a>
      </li>
      <li>
        <a href="/en/writing/sprint-10">Designing the back office</a>
      </li>
      <li>
        <a href="/en/writing/sprint-11">Odds and ends</a>
      </li>
      <li>
        <a href="/en/writing/sprint-12">Ideas we'd explore with more time</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
