{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payment prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Writing about these prototypes</span>
    <h1 class="govuk-heading-l">Considering other ways to pay</h1>

    <p class="govuk-body">As the <a href="./post-6">check balance app was tested and refined enough</a> to begin building, some of the team began looking at new ways to pay a tax bill.</p>

    <p class="govuk-body">Currently, people can only pay by bank transfer (bacs), with paying by cheque being stopped in February 2023. The team heard anecdotally from the help desk, that some people who call up, want to pay there and then, but can’t, because the WRA can’t process card payments.</p>

    <p class="govuk-body">When the visitor levy is introduced, there will be many more small transactions. So the ability to take card payments and direct debits (see post), is a useful capability in years to come and potentially in the coming months too.</p>
    
    <h2 class="govuk-heading-m">GOV.UK Pay</h2>
    
    <p class="govuk-body">When thinking about public services taking payments, it's obvious to first look at <a href="https://www.payments.service.gov.uk/">GOV.UK Pay platform</a>. It’s trusted by hundreds of public services, who with it, can take online payments instantly, do reporting, issue refunds and other features. Free to use in the public sector. So it's simpler and cheaper to implement taking payments than using a private-sector platform.</p>

    <p class="govuk-body">Each of the four options the team prototyped, GOV.UK Pay is part of the scenario.</p>
    
    <h2 class="govuk-heading-m">Over the phone or by post</h2>

    <p class="govuk-body">Also known as, <a href="https://docs.payments.service.gov.uk/moto_payments/#take-payments-over-the-phone-or-by-post-moto">Mail Order / Telephone Order (MOTO)</a>, when someone calls up a service and they can give their card details to someone over the phone. Who in turn enters those details into some kind of interface.</p>

    <p class="govuk-body">However, taking phone payments is more than an interface. Many services record phone calls for monitoring and training, but this creates more security risk with highly sensitive banking information. Before teams can use this feature they need to do things like PCI compliant and have evidence as such.</p>

    <h3 class="govuk-heading-s">GOV.UK Pay admin tool</h3>

    <p class="govuk-body">This first option would involve no software development. Someone with access to GOV.UK Pay’s admin login can take payments. The effort setting up this option up lie more with information management.</p>

    <p class="govuk-body">In this example, someone in the Help Desk is signed into GOV.UK Pay admin login. They are on the phone to a taxpayer, who is late paying their tax bill and wants to pay it there and then.</p>

    <video width="100%" controls autoplay loop id="writing-image" style="margin-bottom: 10px;">
      <source src="/public/images/writing/post-7/govuk-admin.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body-s"><a href="/en/phone-payment/v1/govuk-admin/dashboard">GOV.UK Pay admin login prototype</a></p>

    <p class="govuk-body">The person on the Help Desk enters the UTRN, followed by the amount due. At which point they ask for the card details over the phone.</p>

    <h3 class="govuk-heading-s">WRA interface using API</h3>

    <p class="govuk-body">The second example is very similar. The sequence of screens and data entered is nearly the same. The main difference is information is entered into a custom WRA built interface. Ultimately the payment is still processed by GOV.UK Pay, but information is provided via an API. This option would involve software development and maintenance, unlike the first example.</p>

    <video width="100%" controls autoplay loop id="writing-image" style="margin-bottom: 10px;">
      <source src="/public/images/writing/post-7/wra-admin.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="govuk-body-s"><a href="/en/phone-payment/v1/moto-api/search">WRA MOTO prototype</a></p>

    <p class="govuk-body">For the sake of the example, the team assumed WRA staff don’t want switching between different screens and applications. Especially if they’re concentrating on listening to someone over the phone. So in the example, staff can take payment over the phone using a button in the check balance app. Again, this might help staff focus on the conversation, as the amount and reference number are automatically passed to the payment details.</p>
    
    <h2 class="govuk-heading-m">Self service</h2>

    <p class="govuk-body">In a previous sprint, we did some thinking beyond MVP. One idea that at some point people would be able to pay their tax bill online. Self service as we called it.</p>

    <h3 class="govuk-heading-s">Payment page hosted on GOV.UK Pay</h3>

    <p class="govuk-body">GOV.UK Pay allows services to generate what it calls a payment page. No software development required. The team generates an URL within the GOV.UK Pay admin login. Users can follow the link to provide payment details. Perfect for smaller services, who say, just want to print the URL on a paper form that only a few hundred people a year fill out.</p>

    <video width="100%" controls autoplay loop id="writing-image" style="margin-bottom: 10px;">
      <source src="/public/images/writing/post-7/payment-page.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="govuk-body-s"><a href="/en/payment-page/v1/service-description">Payment page prototype</a></p>

    <p class="govuk-body">The service can decide whether it fixes the amount people pay or allow people to set their own figure. For the prototyped example, people would enter their own tax bill amount, as it will be different each time. As well, people can enter a reference number, as this is used to match banks transactions with outstanding balances.</p>

    <img src="/public/images/writing/post-7/utrn.png" id="writing-image" style="margin-bottom: 10px;">
    <p class="govuk-body-s"><a href="/en/payment-page/v1/utrn">Reference number prototype</a></p>

    <img src="/public/images/writing/post-7/amount.png" id="writing-image" style="margin-bottom: 10px;">
    <p class="govuk-body-s"><a href="/en/payment-page/v1/amount">Amount page prototype</a></p>

    <p class="govuk-body">There’s an obvious weakness with a payment page, is no validation. People could easily enter the wrong information, which could leave a balance unpaid or unmatched to a bank transaction.</p>

   <h3 class="govuk-heading-s">Check and pay balance</h3>

    <p class="govuk-body">The last option is a service that combines checking your balance and then paying it.</p>

    <p class="govuk-body">In the example, someone to view their balance has to authenticate. Providing their reference number and a security they’ve received in the post. As tax information is a sensitive date, there needs to be some kind of authentication. Two-factor authentication might be over the top, but it depends on what information is accessible.</p>

    <video width="100%" controls autoplay loop id="writing-image" style="margin-bottom: 10px;">
      <source src="/public/images/writing/post-7/authenticate.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="govuk-body-s"><a href="/en/self-service/v2/utrn">Check and pay balance prototype</a></p>

    <p class="govuk-body">From the balance summary page, someone can opt to pay. While the header still read Welsh Revenue Authority, the page is hosted on GOV.UK Pay, whose API has been handed the reference number and amount to pay.</p> 

    <video width="100%" controls autoplay loop id="writing-image" style="margin-bottom: 10px;">
      <source src="/public/images/writing/post-7/hand-to-govuk-pay.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">The limitation of this option is building a public facing website where sensitive information is accessible. Also, there is still work to do to automatically calculate all balance, such as more complicated cases involving local councils or amendments. 
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 25px;">

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="./post-6" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="./post-8" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> post</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
