{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Visitor levy prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Writing about these prototypes</span>
    <h1 class="govuk-heading-l">Key moments for accommodation providers</h1>

    <p class="govuk-body">After revising the design of how registration could work, we spent this next sprint zooming out at the wider user journey. Rather than focusing on every detail, we picked out key moments across 2026-28.</p>

    <h2 class="govuk-heading-m">2026 - Public register of accommodation</h2>

    <p class="govuk-body">Go and <a href="./sprint-8">read about sprint 8</a> to see  most of what we’ve done designing registration.</p>

    <p class="govuk-body">In this sprint we designed what a public register could look like. In 2026, someone after registering a property as accommodation, gets a <a href="/en/register/email-new-registration">confirmation email</a>, which also links out to a <a href="/en/register/public/record">public record of their property</a>, with limited information about who owns it and where sort of accommodation is it.</p>

    <img src="/public/images/sprint-9/public-record.png" id="writing-image">

    <p class="govuk-body">We also imagine how a public register record could be <a href="/en/register/online-travel-agent">pulled into a travel agent's online listing</a>.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/online-travel-agent.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">At the time of the sprint, it was unclear whether part or all of the accommodation coming in 2026 will be public or not.</p>

    <h2 class="govuk-heading-m">2027 - A local authority starts a levy</h2>

    <p class="govuk-body">Here we imagine a fictional local authority, Swandiff Council, is considering whether to opt-in to the visitor levy for all the accommodation within its area. 

    <h3 class="govuk-heading-s">Email about consultation from a local authority</h3>

    <p class="govuk-body">Our fictional provider, Nadiya, director of Bluebird Holidays Limited, gets <a href="/en/levy/email-council-consultation">an email</a> that Swandiff Council is doing a consultation about introducing the visitor levy. The Council can contact her, as she gave her details when she first registered a property.</p>

    <img src="/public/images/sprint-9/consultation-email.png" id="writing-image">

    <p class="govuk-body">There’s still a decision about what tools Welsh Revenue Authority can and should give local authorities to run consultations.</p>

    <h3 class="govuk-heading-s">Email about introduction of visitor levy</h3>

    <p class="govuk-body">Next we designed how accommodation providers would get contacted again, saving the visitor levy is coming and when.</p>

    <p class="govuk-body">Next in our timeline, an accommodation provider gets an email saying Swandiff Council is introducing the visitor levy in April 2027. With a link to sign into their accommodation dashboard, that brings together register properties and visitor levy into a single view.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/levy-begins.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">Without it being public the rates for visitor levy, we didn’t feel confident we could begin designing how the visitor levy could work.</p>

    <h2 class="govuk-heading-m">2028 - Making changes to a register</h2>
    
    <p class="govuk-body">Finally in sprint 9, we pick four scenarios where accommodation providers would need to make a change in the service, as their business changes.</p> 
    
    <h3 class="govuk-heading-s">Giving permission</h3>

    <p class="govuk-body">In this first scenario, our business owner, Nadiya, wants help from a property management company. A common scenario for people who own accommodation in tourist areas. So we design a function where people can <a href="/en/levy/settings-new-member-added">give different permissions</a> with regards to their registered properties. Such as collecting and calculating visitor levy.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/giving-permission.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Add another property</h3>

    <p class="govuk-body">Next we designed for a likely scenario, where a business grows. Someone <a href="/en/en/middles-ends/add-more/postcode">adds another property</a> as their company is doing well. For example, they buy a property already registered as accommodation in Wales and request to take on liability for it from the current holders.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/add-another-property.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>. 

    <p class="govuk-body">We also show what the other side of this moment could look like. Where the current liability holder for a property <a href="/en/middles-ends/email-request">approves the request</a> from the new company.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/approve-request.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">De-register a property</h3>

    <p class="govuk-body">We also need to design for down turns in business. In this scenario, a property has become unviable as a profitable accommodation business. So the liability holder de-registers the property as accommodation. Ceasing any responsibilities, such as no longer collecting visitor levy.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/de-register.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Close down a business</h3>

    <p class="govuk-body">Lastly, we look at how someone could close down their business altogether. That this should be simple to do the right thing. Especially what is a stressful time for someone, running a failing business.</p>

    <p class="govuk-body">When someone runs a business, they will have to keep different records up to across the public sector. We got inspired by this, we imagined that when someone closes their business with Companies House, it would trigger a prompt email to do the same with our service.</p>

    <img src="/public/images/sprint-9/push-notification.png" id="writing-image">

    <p class="govuk-body">Following the link in the email, someone could close their business down in a few clicks.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-9/business-closed.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">These are selected moments. Not the whole service needed to successfully deliver policy.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 25px;">

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/en/writing/sprint-8" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> post</span>
          </span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="./sprint-10" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> post</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
