{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payment prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Writing about these prototypes</span>
    <h1 class="govuk-heading-l">How much do I owe?</h1>
    
    <p class="govuk-body">The first weeks working on payments was getting our heads into the problem space.</p>

    <p class="govuk-body">After a two day kick-off meeting, talking through what work done previously, the thing that really stuck out was this:</p>

    <p class="govuk-body" style="font-weight: 700;">Staff can’t quickly find out how much money someone owes.</p>

    <p class="govuk-body">That’s quite fundamental. Every digital tax service relies on tax information that is accessible, up-to-date and whole.</p>

    <h2 class="govuk-heading-m">A simple questions with a complicated answer</h2>

    <p class="govuk-body">Currently if someone calls up WRA asking “how much I owe?” The best answer staff can give is “I’ll find out and call you back”.</p>

    <p class="govuk-body">The reason the question is hard to answer, is because it's actually multiple questions:</p>

    <ol class="govuk-list govuk-list--number">
      <li>How much Land Transaction Tax does someone owe?</li>
      <li>When is the tax due?</li>
      <li>Is it late?</li>
      <li>Is there any interest due?</li>
      <li>Are there any penalties for late payments?</li>
      <li>Is there interest in penalties?</li>
      <li>Has any money already been paid?</li>
    </ol>

    <p class="govuk-body">This complexity means call centre staff, very understandably, don’t want to give someone the wrong figure. So they will ask the finance team to work it out for them. Meaning a slower and more manual service.</p>

    <h2 class="govuk-heading-m">Single view</h2>

    <p class="govuk-body">The obvious first idea was to bring all the figures together into <a href="/en/prototype/v1/complex-unpaid-invoices">one view</a>. Do the calculations automatically, so an answer is available right away.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/writing/sprint-1/single-view.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Search box</h3>

    <p class="govuk-body">All information about a tax record is tied together with a unique reference number called an Unique Transactions Reference Number (UTRN). In the first design iteration, staff looked up a tax record by <a href="/en/prototype/v1/dashboard">searching a UTRN, which returns a summary page.</p>

    <img src="/public/images/writing/sprint-1/dashboard.png" id="writing-image">

    <h3 class="govuk-heading-s">Name and UTRN</h3>

    <p class="govuk-body">First component staff see the taxpayer name and UTRN. Figuring staff want to know they are looking at the right record.</p>

    <img src="/public/images/writing/sprint-1/dashboard.png" id="writing-image">

    <h3 class="govuk-heading-s">Highlighted for attention</h3>

    <p class="govuk-body">Warning box highlighting why staff should look at a case, assuming there will be too many to manually keep track of.</p>

    <p class="govuk-body">Boxes highlighted:</p>

    <p class="govuk-body"><a href="/en/prototype/v1/complex-unpaid-invoices">Unpaid invoices</a> - as these are issued whenever a new penalty is added</p>

    <img src="/public/images/writing/sprint-1/highlight-invoices.png" id="writing-image">

    <p class="govuk-body"><a href="/en/prototype/v1/complex-amendments">Amendments - when someone makes a change to tax owed</p>

    <img src="/public/images/writing/sprint-1/highlight-amendments.png" id="writing-image">

    <p class="govuk-body"><a href="/en/prototype/v1/complex-installments">Instalments</a> - when someone pays part of their debt off, but not all</p>

    <img src="/public/images/writing/sprint-1/highlight-instalments.png" id="writing-image">

    <h3 class="govuk-heading-s">Big total box</h3>

    <p class="govuk-body">This was the first component in the design. The logic being the total owed is the most information staff need to share with the taxpayer, hence it should be the biggest component in the page hierarchy.</p>

    <img src="/public/images/writing/sprint-1/big-total.png" id="writing-image">

    <h3 class="govuk-heading-s">Subtotal table</h3>

    <p class="govuk-body">In the kick-off many people said staff want to check they can trust the figures they give out. That’s why there isn’t just a big total. Staff need the sums to check they makes up the total, so we included a subtotal table.</p>

    <img src="/public/images/writing/sprint-1/subtotal-table.png" id="writing-image">

    <p class="govuk-body">The table included:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Land Transaction Tax</li>
      <li>Interest</li>
      <li>Penalties</li>
      <li>Payments</li>
      <li>And when they were updated</li>
    </ol>

    <p class="govuk-body">Pays of the table could be toggled to reveal more detail, as our first guess was staff might get overwhelmed with too much detail.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/writing/sprint-1/toggle-table.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Balance timeline</h3>

    <p class="govuk-body">Another feature to help staff check they could trust a figure was a detailed timeline for every time someone’s balance changes. Including by how much and what system that figure has been updated from.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/writing/sprint-1/timeline.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Send balance details</h3>

    <p class="govuk-body">The last component in this first design iteration was an input to email someone their balance details. Its deliberately vague what these would look like, but a useful prompt as a team to discuss how we send taxpayer information.</p>

    <img src="/public/images/writing/sprint-1/send-details.png" id="writing-image">

    <p class="govuk-body">While the general idea of a single view would test well with call centre staff, we got many details wrong at first. As later posts will detail.</p>

    <h2 class="govuk-heading-m">Other things we knocked up</h2>

    <p class="govuk-body">We knocked up some other ideas we de-prioritised to focus on testing the single view.</p>

    <p class="govuk-body"><a href="/en/prototype/v1/debt-letter">Debt letter</a></p>

    <img src="/public/images/writing/sprint-1/letter.png" id="writing-image">

    <p class="govuk-body"><a href="/en/prototype/v1/dashboard">Homepage</a> with cases that might need more attention</p>

    <img src="/public/images/writing/sprint-1/dashboard.png" id="writing-image">


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 25px;">

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/en/writing" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Homepage<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="./sprint-9" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> post</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
