{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Visitor levy prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Writing about these prototypes</span>
    <h1 class="govuk-heading-l">Ideas we'd explore with more time</h1>

    <p class="govuk-body">Here’s ideas we wanted to explore but didn’t have time or it was too early to. 

    <p class="govuk-body">This isn’t an exhaustive list, but the most obvious gaps I would say. 

    <h2 class="govuk-heading-m">How could users do tax returns?</h2>
    
    <p class="govuk-body">As it is not public yet how much the visitor levy will be, it wasn’t possible to begin designing how tax returns would work. Especially as we couldn’t test this with users themselves, as it would be too confusing getting them to calculate nights stayed multiplied by a figure that effectively doesn’t exist yet.</p>

    <p class="govuk-body">User research showed the introduction and rate of visitor levy is a especially sensitive top with accommodation providers, already running strained business.</p>

    <h2 class="govuk-heading-m">How would payments and refunds work at this scale?</h2>

    <p class="govuk-body">50,000 plus accommodation providers. Filing 100,000s of tax returns across the year. Collecting tax from millions of people visiting parts of wales. Bringing in tens of millions that has to be regularly redistributed to potentially 22 local authorities.</p> 

    <p class="govuk-body">It’s a lot to consider and while the Welsh Revenue Authorities can already handle payments, we don’t know yet if it can deal with the scale of transactions outlined above.</p> 

    <p class="govuk-body">Yes there are commons platforms such as <a href="https://www.payments.service.gov.uk/">GOV.UK Pay</a> could be part of the solution, but will be only part of a tech stack and back-office service that can cope with this complexity and scale.</p>

    <h2 class="govuk-heading-m">How should authentication and identity should work?</h2>

    <p class="govuk-body">There isn’t an obvious answer. As user research is confirming, accommodation in Wales is complicated. For example, many people who own accommodation business and are ultimately responsible for the tax liabilities, aren’t the same who handle all the admin. Someone might help a family member who runs an accommodation, but isn’t confident with computers. A hotel chain might have a whole team of people who keep on top of compliance with government. A property management company looks after dozens of holidays homes in a coastal time.</p>

    <p class="govuk-body">
      Permissions, ‘joint accounts’ or agency accounts are one challenge. A related one, what level of authentication shows their be through the service. Having ID checks and multi-factor authentication just to register a property feels way over the top. However once personal tax information begins to be stored in 2027, higher levels of authentication will be needed.</p> 

    <p class="govuk-body">To get towards some answers, we’d next:</p>

    <ol class="govuk-list govuk-list--bullet">
      <li>Map out the variations business set up at first registration and for tax returns</li>
      <li>Do a tech spike with GOV.UK One Login, to understand what information could be passed and tied together</li>
    </ol>

    <h2 class="govuk-heading-m">What information would be in a public register and how?</h2>
    
    <p class="govuk-body">We only prototyped what a <a href="/en/register/public/record">single property</a> in a public accommodation register would look like. But more work would be needed to understand what information should and could be public? For reuse as an API for other services. Future regulation of accommodation providers. Someone checking where they are staying is legit. The list goes on.</p>

    <h2 class="govuk-heading-m">How would enforcement work?</h2>

    <p class="govuk-body">We have to design for when a small majority of users deliberately don’t do the right thing. Say someone is running an unsafe accommodation business. How does that get reported? Whoever is responsible for investigating, how do they know what to investigate? If some accommodation isn’t registers, how does that get reported? If some fraud is commit, how do we distinguish between that and users making an honest mistake?</p>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 25px;">

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="./sprint-11" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous <span class="govuk-visually-hidden"> post</span>
          </span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="./" rel="next">
          <span class="govuk-pagination__link-title">
            Homepage<span class="govuk-visually-hidden"> post</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
