{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Visitor levy prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Writing about these prototypes</span>
    <h1 class="govuk-heading-l">Designing the back office</h1>

    <p class="govuk-body">After the two previous sprints designing what accommodation providers would see, we spent sprint 10 looking at the service for back office staff.</p>

    <p class="govuk-body">With potentially 50,000 users, the back office's design can be an afterthought. With that many people, the service needed to be automated around good data. With usable tools for back-office staff when users need human support.</p>

    <p class="govuk-body">We picked moments across 2026-28 where back office staff interact with the service

    <h2 class="govuk-heading-m">2026 - Confirming a registration over the phone</h2>

    <p class="govuk-body">In this first example, we imagine an anxious, less digitally confident user calls up the service to double check their registration has gone through.</p>

    <p class="govuk-body">In the example we prototyped, a member of staff <a href="/en/register/backoffice/email">signs into the service</a>. The <a href="/en/register/backoffice/homepage">dashboard</a> shows a search bar, issues needing their attention and high level information about registrations in the first weeks of the scheme.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-10/search-results.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">While on the phone to the anxious user, the staff member searches their name. The <a href="/en/register/backoffice/search-results">search results</a> confirmed the users had registered three properties, the company tied to them and them personally as the liable party. 

    <h2 class="govuk-heading-m">2027 - Activating visitor levy in a local authority</h2>

    <p class="govuk-body">With 22 local authorities in Wales, the processes of activating visitor levy needs to be repeatable and easy to track.</p>

    <p class="govuk-body">Beginning a consultation, back office staff can see the levy status for all 22 local authorities. Ranging from inactive, consultation and active. Clicking into Swandiff Council, staff can see how many properties are registered in that area. With the option to begin a consultation. It asks for when the consultation will finish and has a templated email about the consultation accommodation providers will get.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-10/consultation.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <p class="govuk-body">Following on from a consultation process, back office staff can activate visitor levy in Swandiff Council in a few clicks. As before, giving the date and sending a templated email making users aware of the levy is coming in.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-10/activate.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h3 class="govuk-heading-s">Local authority view-only</h3>

    <p class="govuk-body">We think its likely local authorities will need some kind of view-only bit of the service and unable to see sensitive personal data about individual tax payers. They would see what levy revenues they can expect and understand their tax base from what properties are registered in their area.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-10/council-view.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <h2 class="govuk-heading-m">2028 - Chasing unfinished levy returns and payments</h2>

    <p class="govuk-body">In the last moment we prototyped, we look at what happens when someone forgets or is late filing their taxes. 

    <p class="govuk-body">As you can see, the staff homepage has grown, including registered properties, visitor levy, local authorities and operator licences. Crucially at the top the system highlights things most need staff attention. Clicking into the top item, staff can see someone has closed down their business, but not done their remaining tax return, despite various automated reminders. At which point the system knows to flag this to humans to decide what to do next.</p>

    <video width="100%" controls autoplay loop id="writing-image">
      <source src="/public/images/sprint-10/automate.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="margin-bottom: 25px;">

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="/en/writing/sprint-9" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> post</span>
          </span>
        </a>
      </div>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="./sprint-11" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> post</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
