{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/security-code"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

        <form action="./edited-name" method="post" novalidate >

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Edit name
              </h1>
            </legend>
            <p id="call-out-gov-wales" style="background: #fff;"><span class="govuk-!-font-weight-regular">Reference </span>2807 6339 4803</p>
            <label class="govuk-label" for="email">
              Name on account
            </label>
            <div id="email-hint" class="govuk-hint">
              Transaction information will update when saved
            </div>
            <input class="govuk-input govuk-input--width-10" id="email" name="edited-name" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="Warren Law Ltd">
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Save
          </button>
        </form>

      </div>

    </div>

  </div>

{% endblock %}
