{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 20px; margin-bottom: 0px;">Transactions
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-three-quarters">

        <div class="govuk-summary-card" id="summary-card">
          <div class="govuk-summary-card__title-wrapper" id="summary-card-wrapper">
            <h2 class="govuk-summary-card__title">
              <span style="background: #fff5ce; color: #323232; padding: 3px 7px 3px 7px;">
                <nobr>Unmatched reference</nobr>
              </span>
            </h2>
            <ul class="govuk-summary-card__actions">          
            
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reference
                </dt>
                <dd class="govuk-summary-list__value">
                  2702 1339 4 <a href="#" style="text-align: right; float: right;">Change</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name on account
                </dt>
                <dd class="govuk-summary-list__value">
                  N B KANAA <a href="#" style="text-align: right; float: right;">Change</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Booking
                </dt>
                <dd class="govuk-summary-list__value">
                  14:10 on 13 May 2025
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Amount
                </dt>
                <dd class="govuk-summary-list__value">
                  £4,196.12
                </dd>
              </div>
            </dl>
          </div>
        <div class="govuk-summary-card__title-wrapper" id="summary-card-footer"§>
          <details class="govuk-details" style="margin-bottom: 0px; width: 100%;">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                View original data 
              </span>
            </summary>
            <div class="govuk-details__text" style="border-left: 0px solid grey; padding-left: 0px; background-color: #f1f1f1; padding: 5px; border: 2px solid #666666;">
              <p style="color: #323232; font-size: 16px;">
<pre style="font-size: 16px;">
  {
    "id": <span id="json-value">147</span>,
    "accountId": <span id="json-value">null</span>,
    "transactionId": "<span id="json-value">0b5279f6-0a74-4a91-8685-97d3bf1b8e61</span>",
    "creditDebitIndicator": "<span id="json-value">Debit</span>",
    "status": "<span id="json-value">Booked</span>",
    "bookingDateTime": "<span id="json-value">2024-05-13T14:10:00</span>",
    "valueDateTime": <span id="json-value">null</span>,
    "amount": {
      "amount": <span id="json-value">4196.12</span>,
      "currency": "<span id="json-value">GBP</span>"
    },
    "balance": {
      "amount": {
        "amount": <span id="json-value">4196.12</span>,
        "currency": "<span id="json-value">GBP</span>"
      },
      "creditDebitIndicator": "<span id="json-value">Debit</span>",
      "type": "<span id="json-value">Interim Booked</span>"
    },
    "#": "<span id="json-value">2702 1339 487</span>", // Transaction reference
    "addressLine": "<span id="json-value">Cardiff</span>",
    "merchantDetails": <span id="json-value">N B KANAA</span>,
    "BankTransactionCode": {
      "Code": "<span id="json-value">ReceivedCreditTransfer</span>",
      "SubCode": "<span id="json-value">DomesticCreditTransfer</span>"
    },
    "proprietaryBankTransactionCode": {
      "code": "<span id="json-value">Transfer</span>",
      "issuer": "<span id="json-value">Alpha bank</span>"
    }
  }
</pre>
              </p>
            </div>
          </details>
        </div>
      </div>
        </div>

    </div>
  </div>

{% endblock %}
