{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Service users</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#"></a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Accommodation in Wales</h3>
      <div class="govuk-form-group">
      <form action="./search-results" method="post" novalidate >
        <input class="govuk-input" id="event-name" name="eventName" type="text" placeholder="Search by address, organisation or individual name" style="width: 87.7%; border-right: 0px solid black;">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="display: block; float: right; background: #000; color: #fff; font-weight: 700; padding: 8px 10px 8px 10px">
        Search
        </button>
      </form>
      </div>

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Needs attention (49)</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Issue</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Randal Homes Limited</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--orange">
              Missing records
            </strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 Gwent Lane, Portwys, PW32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <strong class="govuk-tag govuk-tag--grey">
              Address not found
            </strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">54 Cwmwl Mews, Swandiff SD21...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
              <strong class="govuk-tag govuk-tag--yellow">
              Duplicate address
            </strong>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="/en/middles-ends/properties">View all local authorities</a></p>

      <br>
      <br>
      <br>

      <h3 class="govuk-heading-m">Properties</h3>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #F8D756;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">31,255</span><br>
          <a href="#" class="govuk-link" style="color: #1f1f1f;">Properties registered</a></p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #dddddd; border-left: 10px solid #F8D756;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">431</span><br>
          <a href="#" class="govuk-link" style="color: #1f1f1f;">In the last 7 days</a></p>
      </div>
      
      <br>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">When</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 Gwent Lane, Portwys, PW32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">2 mins ago</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3 Randal Close, Conport, CP18...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">7 mins ago</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">71 Nunney Avenue, Swandiff, SD32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">23 mins ago</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="/en/middles-ends/properties">View all registered properties</a></p>

      <br>
      <br>
      <br>
    

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Local authorities (22)</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Properties</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Conport County Council</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            1623
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Swandiff County Council</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            1592
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Carmouth Country Council</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
              1572
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="/en/middles-ends/properties">View all local authorities</a></p>

    </div>
  </div>

{% endblock %}
