{% extends "layouts/public/english-login.html" %}
{% set alternateLink = "/cy/levy/security-code"%}
{% set pageName="Payments prototypes" %}

{% block header %}

  {% include "components/wra-header.html" %}
  <section aria-label="Service information" class="govuk-service-navigation"
    data-module="govuk-service-navigation" id="service-navigation" style="border-bottom: 1px solid #323232;">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
          <a href="#" class="govuk-service-navigation__link" style="color: #323232;">
            Pay your tax bill by Direct Debit
          </a>
        </span>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <form action="./balance" method="post" novalidate >

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Enter purchase address postcode
              </h1>
            </legend>
            <label class="govuk-label" for="email">
              Enter purchase address postcode
            </label>
            <div id="email-hint" class="govuk-hint">
              We’ve posted you eight digit security code
            </div>
            <input class="govuk-input govuk-input--width-10" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
        </form>

      </div>

    </div>

  </div>

{% endblock %}
