{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <script src="/public/javascripts/govukMarkdownIt.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Service users</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#"></a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-form-group" id="form-background-gov-wales">

      <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

      <h3 class="govuk-heading-xl" style="margin-bottom: 30px;">Edit email template</h3>

      {{ govukTextarea({
        name: "input-consent-md",
        id: "input-consent-md",
        label: {
          text: "Content",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: "
# Share your views about a visitor levy in [local-authority-name]
Dear [accommodation-holder-name],

We're writing to you to inform you about a potential visitor levy in [local-authority-name] where you have registered accommodation.

## What's a visitor levy?
A visitor levy is a small fee that's paid on all chargeable overnight stays in an area. The funds raised are used to invest in infrastructure and public services that benefit both residents and visitors.

## Why are they considering this

On [date], the Senedd approved legislation that gave local authorities in Wales the powers to bring in a visitor levy in their area.

We're committed to creating a vibrant and sustainable community for residents and visitors. We're exploring the possibility of a visitor levy because:

- visitor numbers are increasing, putting pressure on existing infrastructure and services
- additional funding is needed to maintain and improve these resources
- a visitor levy is a common way for tourist destinations to manage these pressures and ensure a positive experience for everyone

## Share your views

[local-authority-name] want to hear your thoughts on this proposal. Your feedback is crucial in helping Swandiff make an informed decision.

Find out more about the consultation and share your views:

[local authority consultation webpage](#)

The deadline for feedback is [date].

Thank you for your time,

[local-authority-name].
"
      }) }}
      <br>
      <h3 class="govuk-heading-l">Preview</h3>
      <div id="preview-md" style="border: #0b0c0c 2px solid; padding: 15px; background: #fff;">
      </div>
      <br>

      <h2 class="govuk-heading-m">Now email service users about consultation</h2>
      <p class="govuk-body">By pressing publishing you will emaill all service users with registered accommodation in Swandiff. This cannot be cancelled once published.</p>

      <form action="./confirm" method="post" novalidate >

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Publish
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
            Save draft
          </button>
        </div>

      </form>
    </div>
  </div>

  </div>

  <script>
      const md = window.markdownit();
      md.use(window.govukMarkdownIt)
      const updateMd = () => {
          const input = document.getElementById("input-consent-md").value;
          document.getElementById("preview-md").innerHTML = md.render(input);
      }
      document.getElementById("input-consent-md").onchange = updateMd
      updateMd()
  </script>
{% endblock %}
