{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Service users</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Local authorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#"></a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Swandiff County Council</h3>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #F8D756;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">2,493</span><br>
          <a href="#" class="govuk-link" style="color: #1f1f1f;">Properties registers in area</a></p>
      </div>

      <br>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Address</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">18 Cangen Close, Swandiff, SD32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Hotel</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">45 Afon Lane, Swandiff, SD18...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Campsite or caravan park</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">71 Nunney Avenue, Swandiff, SD32...</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Self-catering</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        </tbody>
      </table>

      <p><a>View all registered properties</a></p>

      <br>

      <div class="govuk-form-group" id="danger-background-gov-wales" style="background: #dddddd; border: 0px solid #0360a6; margin-bottom: 0px;">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Visitor levy:
            <strong class="govuk-tag govuk-tag--grey" style="background: #dddddd; border: 2px solid #0b0c0c;">
              Inactive
            </strong>
          </caption>
        </table>
      </div>

      <div class="govuk-form-group" id="danger-background-gov-wales" style="background: #eeeeee; border: 0px solid #0360a6;">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="border-bottom: solid #aa1111 0px;">
                <form action="./date" method="post" novalidate >
                  <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales" style="margin-bottom: 30px;">
                    Begin consultation
                  </button>
                </form>
              </th>
              <td class="govuk-table__cell" style="border-bottom: solid #aa1111 0px;">Email all registered accommodation holders inviting them to give feedback about a levy in Swandiff.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="border-bottom: solid grey 0px;">
                <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales" style="margin-bottom: 0px;">
                  Activate levy in Swandiff
                </button>
              </th>
              <td class="govuk-table__cell" style="border-bottom: solid grey 0px;">De-register all your properties and stop all liabilities including levies and licences.</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

{% endblock %}
