{% extends "layouts/english.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner" style="padding-top: 0px;">
    <p style="margin-bottom: 5px;">
      <span class="govuk-!-font-weight-bold">Ceri Thomas</span>, Coast Getaways Limited
      <span class="govuk-!-font-size-16" style="float: right; padding: 5px; boarder: 1px blue solid;"><a href="#">Sign out</span>   
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales">
          Success<br><br>
          <span class="govuk-!-font-weight-regular">You are no longer liable for 68 Blaneff Drive, Carmouth, CM32 4LF.</span>
        </p>

        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You no longer need to collect visitor levy for this property or maintain operator licences.
        </p>
        <p class="govuk-body">
          Carmouth Council will contact you to confirm when they've closed their about you and this property..
        </p>
        <p class="">You can still see past records for this property.</p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Return to registered properties</a>
        </p>

      </div>

    </div>
  </div>

{% endblock %}
