{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales">
          Completed<br><br>
          <span class="govuk-!-font-weight-regular">All your properties will stop being registered as accommodation on 28 June 2028</span>
        </p>

        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You no longer need to collect visitor levy for properties from 28 June 2028,
        </p>
        <p class="govuk-body">
          Swandiff Council and Carmouth Council will contact you to confirm when they've closed their records for the properties.
        </p>
        <p class="">You can still see records for this property.</p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Return to dashboard</a>
        </p>

      </div>

    </div>
  </div>

{% endblock %}
