{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <form action="./confirm-closing-business" method="post" novalidate >
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you sure you want to <br>de-register your business with this service?
              </h1>
            </legend>
            <br>
            <div id="warning-call-out-gov-wales">

              <table class="govuk-table" style="margin-bottom: 0px;">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border-bottom: solid #aa1111 0px;">
                      <div id="triangle" style="color: #ffe4e5; font-size: 18px; font-weight: bold;">
                        <span style="margin-left: -2px; padding-top: 5px;">!</span>
                      </div>
                    </th>
                    <td class="govuk-table__cell" style="border-bottom: solid #aa1111 0px;">

                      All five properties and Bluebird Holidays Limited will be de-registered with this service on 28 June 2028.
                      <br><br>
                      You will no longer be liable for pay visitor levy on these properties or maintain operator licences. 

                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <br>
            <p>You can register a property again at anytime.</p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  Yes, close down the business with this service?
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  No, make no changes
                </label>
              </div>
            </div>
          </fieldset>

          <br><br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
