{% extends "layouts/public/english-login.html" %}
{% set alternateLink = "/cy/levy/email"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 0px;">Back</a>

        <br>

        <form action="./confirm-details" method="post" id="myForm">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Enter amount to pay
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Select one option.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="amount" name="amount" type="radio" value="4,196.12">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Total owed - <span style="font-weight: 700;">£4,196.12</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input input class="govuk-radios__input" id="amount" name="amount" type="radio" value="" data-aria-controls="conditional-amount">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    Part payment
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-amount">
                  <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-10" id="cost" name="amount" type="text" spellcheck="false">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <br><br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
          
        </form>

      </div>

    </div>

  </div>

{% endblock %}
