{% extends "layouts/public/english-login.html" %}
{% set alternateLink = "/cy/levy/email"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 0px;">Back</a>

        <form action="/en/prototype/v6/show-amount/invalid-utrn" method="post" id="myForm">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your Uninque Tax Reference Number?
              </h1>
            </legend>
            <label class="govuk-label" for="email">
              Unique Transaction Reference Number
            </label>
            <div id="email-hint" class="govuk-hint">
              It’s on any letter from us. For example, ‘2702 1339 4877’.
            </div>
            <input class="govuk-input govuk-input--width-10" name="utrn" id="cc" value="" maxlength="14" onkeypress="return checkDigit(event)">
          </div>

          <script>
            function cc_format(value) {
              var v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
              var matches = v.match(/\d{4,16}/g);
              var match = matches && matches[0] || ''
              var parts = []
              for (i=0, len=match.length; i<len; i+=4) {
                parts.push(match.substring(i, i+4))
              }
              if (parts.length) {
                return parts.join(' ')
              } else {
                return value
              }
            }

            onload = function() {
              document.getElementById('cc').oninput = function() {
                this.value = cc_format(this.value)
              }
            }
            function checkDigit(event) {
                var code = (event.which) ? event.which : event.keyCode;

                if ((code < 48 || code > 57) && (code > 31)) {
                    return false;
                }

                return true;
            }
          </script>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
          
        </form>

      </div>

    </div>

  </div>

{% endblock %}
