{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales">
          Success<br><br>
          <span class="govuk-!-font-weight-regular">Adul Tuff has 'proerty manager' permissions for all your properties</span>
        </p>

        <p class="govuk-body">We have sent you a confirmation email.</span></p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          Adul will get an email notifying them of their new permissions for your registered propertoes.</p>
        <p class="govuk-body">
          You can change permissions at anytime.</p>
        <p class="govuk-body">
          <a href="./settings-new-member-added" class="govuk-link">Return to settings</a>
        </p>

      </div>

    </div>
  </div>

{% endblock %}
