{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/levy/new-member-permissions"%}
{% set pageName="Visitor levy prototypes" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="./homepage">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales">Back</a>

        <form action="./confirm-new-member" method="post" novalidate >

          <h1 class="govuk-heading-l">What permissons does Adul need?</h1>

          <p id="call-out-gov-wales" style="background: #fff;"><span class="govuk-!-font-weight-regular"><span class="govuk-!-font-size-18 govuk-!-font-weight-bold">Adul Tuff</span> already has permission for
              <a href="#" class="govuk-link" style="color: #1f1f1f;">32 properties</a></span>
          </p>

          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
              <div id="signIn-hint" class="govuk-hint">
                Permissions can be changed at any time
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Admin
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Permission view and edit anything within this service
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <label class="govuk-label govuk-radios__label" for="signIn-2">
                    Accountant
                  </label>
                  <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                    Permission to view financial information, submit tax returns and payments
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn-2">
                    Property manager
                  </label>
                  <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                    View and update records about any property within the service
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
