{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 20px; margin-bottom: 0px;">Back
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <div style="text-align: left; padding: 30px 30px 30px 30px; background-color: #0360a6;">
        <h1 class="govuk-heading-l" style="color: #fff;">Are you sure you want to upload transactions for 16 April 2025?</h1>
        <p class="govuk-body-l" style="color: #fff;">You are about upload details for 51 bank transactions to F&O.
        </p>

        <form action="./confirm" method="post" id="myForm">
          <div class="govuk-button-group" style="margin-bottom: 0px;">
            <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button" id="continue-button-gov-wales" style="background: #fff; color: #0360a6;">
              Yes, upload now
            </button>
            <a class="govuk-link" href="javascript:history.go(-1)" style="color: #fff;">Back to transaction details</a>
          </div>
        </form>
      </div>
    </div>

  </div>


{% endblock %}
