{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 1</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 2</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 3</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Kelvin Ryan <span class="govuk-!-font-weight-regular" style="color: #505a5f;">/ 250743394889</span></h3>

      <div id="warning-call-out-gov-wales">

        <p style="float: inline-start;">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
           width="25px" viewBox="0 0 2003.000000 1996.000000"
           preserveAspectRatio="xMidYMid meet" style="margin-top: 2px;">

            <g transform="translate(0.000000,1996.000000) scale(0.100000,-0.100000)"
            fill="#aa1111" stroke="none">
            <path d="M5059 9990 c-2747 -5485 -4995 -9976 -4997 -9981 -2 -5 3953 -9 9982
            -9 l9986 0 0 25 c0 24 -1250 2532 -2935 5890 -403 803 -1636 3265 -2740 5470
            -2862 5716 -4287 8559 -4295 8568 -4 4 -2254 -4479 -5001 -9963z m5999 -57
            l-3 -2858 -1002 0 -1003 0 0 2858 0 2857 1005 0 1005 0 -2 -2857z m2 -5618 l0
            -1295 -1005 0 -1005 0 0 1295 0 1295 1005 0 1005 0 0 -1295z"/>
            </g>
          </svg>
        </p>  

        <table>
          <tbody>
            <tr>
              <th style="padding-right: 25px;">      
              </th>
              <td>
                <p>4 installment with outstanding balance</p>
                <details class="govuk-details" style="margin-top: 15px; margin-bottom: 0px;">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      View installment summaries
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--number">
                      <li>
                        £100.00 - 2nd Jul 2025
                      </li>
                      <li>
                        £100.00 - 1st Jun 2025
                      </li>
                      <li>
                        £100.00 - 1st Apr 2025
                      </li>
                      <li>
                        £100.00 - 1st Mar 2025
                      </li>
                    </ul>
                  </div>
                </details>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <br>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #fea8a9;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£4,443.14</span><br>
         Currently left to pay
        </p>
      </div>
      <br><br>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Sub-total</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Land Transaction Tax</th>
            <td class="govuk-table__cell">11 Jan 2025 <span style="color: #505a5f;">(6 months ago)</span></td>
            <td class="govuk-table__cell">£4,500.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Interest on unpaid tax</th>
            <td class="govuk-table__cell">11 Jul 2025 <span style="color: #505a5f;">(4 days ago)</span></td>
            <td class="govuk-table__cell">£118.14</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Penalties (x1 )</th>
            <td class="govuk-table__cell">11 Jul 2025 <span style="color: #505a5f;">(4 days ago)</span></td>
            <td class="govuk-table__cell">£225.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Interest on penalties</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Aready paid</th>
            <td class="govuk-table__cell">2 Jul 2025 <span style="color: #505a5f;">(13 days ago)</span></td>
            <td class="govuk-table__cell">£400.00 </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TOTAL</th>
            <td class="govuk-table__cell govuk-!-font-weight-bold">15 Jul 2025 <span class="govuk-!-font-weight-regular">(today)</span></td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">£4,443.14</td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View history
          </span>
        </summary>
        <div class="govuk-details__text" style="border-left: 0px solid grey; padding-left: 0px;">

          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £4,443.14 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£4.92↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  11th July 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £4.92 (5.25%) added for last 7 days.
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £4,438.22 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£225.00↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Tax Management System [manual]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  11th July 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Late payment penalty of £225.00 (5% of tax bill)
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £4,213.22 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£4.92↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  4th July 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £4.92 (5.25%) added for last 7 days.
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £4,208.30 total 
                <span class="govuk-!-font-weight-regular font-green">
                  (£100.00↓)
                </span>
              </h2>
              <p class="hods-timeline__by">
                NatWest Bankline (manual)
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  2nd July 2024 at 11:34am
                </time>
              </p>
              <p class="hods-timeline__description">
                £100.00 manual bank transfer to NatWest 
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £4,308.30 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£4.92↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  25th June 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £4.92 (5.25%) added for last 7 days.
              </p>
            </div>
          </div>
        </div>
        <p><a href="/">View five more</a></p>
      </details>

    </div>
  </div>

{% endblock %}
