{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 1</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 2</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 3</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Ivan Philips <span class="govuk-!-font-weight-regular" style="color: #505a5f;">/ 280763394803</span></h3>

      <div id="warning-call-out-gov-wales">

        <p style="float: inline-start;">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
           width="25px" viewBox="0 0 2003.000000 1996.000000"
           preserveAspectRatio="xMidYMid meet" style="margin-top: 2px;">

            <g transform="translate(0.000000,1996.000000) scale(0.100000,-0.100000)"
            fill="#aa1111" stroke="none">
            <path d="M5059 9990 c-2747 -5485 -4995 -9976 -4997 -9981 -2 -5 3953 -9 9982
            -9 l9986 0 0 25 c0 24 -1250 2532 -2935 5890 -403 803 -1636 3265 -2740 5470
            -2862 5716 -4287 8559 -4295 8568 -4 4 -2254 -4479 -5001 -9963z m5999 -57
            l-3 -2858 -1002 0 -1003 0 0 2858 0 2857 1005 0 1005 0 -2 -2857z m2 -5618 l0
            -1295 -1005 0 -1005 0 0 1295 0 1295 1005 0 1005 0 0 -1295z"/>
            </g>
          </svg>
        </p>  

        <table>
          <tbody>
            <tr>
              <th style="padding-right: 25px;">      
              </th>
              <td>
                <p>This case has 2 amendments for tax bill</p>
                <details class="govuk-details" style="margin-top: 15px; margin-bottom: 0px;">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      View invoice summaries
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--number">
                      <li>
                        7.5% of property sale
                      </li>
                      <li>
                        6% of sales
                      </li>
                      <li>
                        Charities relief (LTTA/7080)
                      </li>
                    </ul>
                  </div>
                </details>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <br>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #ffd530;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£3,112.00</span><br>
         Refund owed to taxpayer
        </p>
      </div>
      <br><br>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Sub-total</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Land Transaction Tax</th>
            <td class="govuk-table__cell">23 Feb 2025 <span style="color: #505a5f;">(4 months ago)</span></td>
            <td class="govuk-table__cell">£23,940.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Interest</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Penalties</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Aready paid</th>
            <td class="govuk-table__cell">2 Mar 2025 <span style="color: #505a5f;">(3 months ago)</span></td>
            <td class="govuk-table__cell">£23,940.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Refund owed</th>
            <td class="govuk-table__cell">26 Jun 2025 <span style="color: #505a5f;">(2 days ago)</span></td>
            <td class="govuk-table__cell">£3,112.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TOTAL</th>
            <td class="govuk-table__cell govuk-!-font-weight-bold">26 Jun 2025 <span class="govuk-!-font-weight-regular">(2 days ago)</span></td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">+3,112.00</td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View history
          </span>
        </summary>
        <div class="govuk-details__text" style="border-left: 0px solid grey; padding-left: 0px;">

          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                +£3,100 total 
                <span class="govuk-!-font-weight-regular font-green">
                  (£3,100↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Tax Management System (manual)
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  26 June 2025 at 10:23am
                </time>
              </p>
              <p class="hods-timeline__description">
                Refund owed to taxpayer - charities relief (LTTA/7080) applied retrospectively
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £0.00 total 
                <span class="govuk-!-font-weight-regular font-green">
                  (£23,940.00↓)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by bank transfer (manual)
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  2nd March 2025 at 10:16am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £5.44 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £23,940.00 total 
                <span class="govuk-!-font-weight-regular font-green">
                  (£6,135↓)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Tax Management System (manual)
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  23th February 2024 at 11:34am
                </time>
              </p>
              <p class="hods-timeline__description">
                Tax return of £23,940.00 - 6% of £399,000.00 property sale
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £30,075.00
                <span class="govuk-!-font-weight-regular font-red">
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Tax Management System (manual)
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  18th February 2025 at 14:07am
                </time>
              </p>
              <p class="hods-timeline__description">
                Tax return of £30,075.00 - 7.5% of £401,000.00 property sale
              </p>
            </div>
          </div>

        </div>
        <p><a href="/">View five more</a></p>
      </details>

    </div>
  </div>

{% endblock %}
