{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 1</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 2</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 3</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Nadiya Kanaa <span class="govuk-!-font-weight-regular" style="color: #505a5f;">/ 270213394877</span></h3>

      <div id="warning-call-out-gov-wales">

        <p style="float: inline-start;">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
           width="25px" viewBox="0 0 2003.000000 1996.000000"
           preserveAspectRatio="xMidYMid meet" style="margin-top: 2px;">

            <g transform="translate(0.000000,1996.000000) scale(0.100000,-0.100000)"
            fill="#aa1111" stroke="none">
            <path d="M5059 9990 c-2747 -5485 -4995 -9976 -4997 -9981 -2 -5 3953 -9 9982
            -9 l9986 0 0 25 c0 24 -1250 2532 -2935 5890 -403 803 -1636 3265 -2740 5470
            -2862 5716 -4287 8559 -4295 8568 -4 4 -2254 -4479 -5001 -9963z m5999 -57
            l-3 -2858 -1002 0 -1003 0 0 2858 0 2857 1005 0 1005 0 -2 -2857z m2 -5618 l0
            -1295 -1005 0 -1005 0 0 1295 0 1295 1005 0 1005 0 0 -1295z"/>
            </g>
          </svg>
        </p>  

        <table>
          <tbody>
            <tr>
              <th style="padding-right: 25px;">      
              </th>
              <td>
                <p>This case has 3 unpaid invoices</p>
                <details class="govuk-details" style="margin-top: 15px; margin-bottom: 0px;">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      View invoice summaries
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--number">
                      <li>
                        Land Transaction Tax (24 Aug 2024)
                      </li>
                      <li>
                        Penalty - late paymenty (6 months)
                      </li>
                      <li>
                        Penalty - late paymenty (12 months)
                      </li>
                    </ul>
                  </div>
                </details>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <br>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #fea8a9;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£25,190.02</span><br>
         Currently left to pay
        </p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #dddddd; border-left: 10px solid #fea8a9;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-size: 16px; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
         Last updated: Today at 9:00am
        </p>
      </div>
      <br><br>

      <!-- reveals tax details -->
      <script>
        function toggleTax() {
          var TaxDetails = document.getElementById("TaxDetails");

          if (TaxDetails.style.display === "none") {
            TaxDetails.style.display = "";
          } else {
            TaxDetails.style.display = "none";
          }

          var x = document.getElementById("TaxDate");
          if (x.innerHTML === "Today") {
            x.innerHTML = "";
          } else {
            x.innerHTML = "Today";
          }

          var x = document.getElementById("TaxAmount");
          if (x.innerHTML === "£22,970.63") {
            x.innerHTML = "";
          } else {
            x.innerHTML = "£22,970.63";
          }

          var x = document.getElementById("RevealTaxButton");
          if (x.innerHTML === "Close") {
            x.innerHTML = "View";
          } else {
            x.innerHTML = "Close";
          }

          var element = document.getElementById("TaxParentRow");
          element.classList.toggle("TaxParentRow");

          var element = document.getElementById("TaxParentRowHead");
          element.classList.toggle("TaxParentRowHead");

        }
      </script>

      <!-- reveals penalty details -->
      <script>
        function togglePenalties() {
          var PenaltyDetails = document.getElementById("PenaltyDetails");

          if (PenaltyDetails.style.display === "none") {
            PenaltyDetails.style.display = "";
          } else {
            PenaltyDetails.style.display = "none";
          }

          var x = document.getElementById("PenaltyDate");
          if (x.innerHTML === "Today") {
            x.innerHTML = "";
          } else {
            x.innerHTML = "Today";
          }

          var x = document.getElementById("PenaltyAmount");
          if (x.innerHTML === "£2,219.39") {
            x.innerHTML = "";
          } else {
            x.innerHTML = "£2,219.39";
          }

          var x = document.getElementById("RevealPenaltyButton");
          if (x.innerHTML === "Close") {
            x.innerHTML = "View";
          } else {
            x.innerHTML = "Close";
          }

          var element = document.getElementById("PenaltyParentRow");
          element.classList.toggle("PenaltyParentRow");

        }
      </script>        

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Sub-total</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Item</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Last updated</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" id="TaxParentRow">
            <th id="TaxParentRowHead" scope="row" class="govuk-table__header govuk-!-font-weight-regular">
              Tax due
            </th>
            <td id="TaxDate" class="govuk-table__cell">Today</td>
            <td id="TaxAmount" class="govuk-table__cell">£22,970.63</td>
            <td id="TaxAmount" class="govuk-table__cell">
              <button id="RevealTaxButton" class="reveal-penalty-button" onclick="toggleTax()">
                View
              </button>
            </td>
          </tr>
        </tbody>
        <tbody id="TaxDetails" style="display: none;">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">
              Land Transaction Tax
            </th>
            <td class="govuk-table__cell">30 Jul 2023</td>
            <td class="govuk-table__cell">£21,697.36</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">Interest on unpaid tax</th>
            <td class="govuk-table__cell">Today</td>
            <td class="govuk-table__cell">£1,273.27</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row" id="PenaltyParentRow">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                Penalties (2)
            </th>
            <td class="govuk-table__cell" id="PenaltyDate">Today</td>
            <td class="govuk-table__cell" id="PenaltyAmount">£2,219.39</td>
            <td class="govuk-table__cell">
              <button id="RevealPenaltyButton" class="reveal-penalty-button" onclick="togglePenalties()">
                View
              </button>
            </td>
          </tr>
        </tbody>
        <tbody id="PenaltyDetails" style="display: none;">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">Failure to pay - other</th>
            <td class="govuk-table__cell">29 Sep 2024</td>
            <td class="govuk-table__cell">£1,084.86</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">Interest on penalty</th>
            <td class="govuk-table__cell">Today</td>
            <td class="govuk-table__cell">£49.67</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">Failure to pay within 6 months</th>
            <td class="govuk-table__cell">19 May 2024</span></td>
            <td class="govuk-table__cell">£1,084.86</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular" style="padding-left: 20px;">Interest on penalty</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
        <tbody>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Aready paid</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TOTAL</th>
            <td class="govuk-table__cell govuk-!-font-weight-bold">Today</td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">£25,190.02</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View history
          </span>
        </summary>
        <div class="govuk-details__text" style="border-left: 0px solid grey; padding-left: 0px;">

          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £25,190.02 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£31.48↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  2nd May 2024 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £13.11 (5.25%) added for last 7 days.
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £25,158.54 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£31.48↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  25th April 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £31.48 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £25,127.06 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£31.48↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  18th April 2024 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £31.48 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £25,095.58
                <span class="govuk-!-font-weight-regular font-red">
                  (£31.48↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Finance & Operations [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  11th April 2024 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £31.48 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £25,064.10 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£1,084.86↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by Tax Management System [manual]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  11th April 2025 at 11:03am
                </time>
              </p>
              <p class="hods-timeline__description">
                Late payment penalty of £1,084.86 (5% of tax bill)
              </p>
            </div>
          </div>

        </div>
        <p><a href="/">View five more</a></p>
      </details>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">      

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Send statement document
          </h3>
        </legend>
        <label class="govuk-label" for="email">
          Email address
        </label>
        <div id="email-hint" class="govuk-hint">
          We’ll use this to send someone the balance details
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
          Email PDF
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
          Downloand PDF
        </button>
      </div>

    </div>
  </div>

{% endblock %}
