{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 1</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 2</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Nav item 3</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Nadiya Kanaa <span class="govuk-!-font-weight-regular" style="color: #505a5f;">/ 270213394877</span></h3>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #fea8a9;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£5491.21</span><br>
         Currently left to pay
        </p>
      </div>
      <br><br>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Sub-total</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Item</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Land Transaction Tax</th>
            <td class="govuk-table__cell">27 Aug 2024</td>
            <td class="govuk-table__cell">£5000.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Interest</th>
            <td class="govuk-table__cell">7 Jan 2025 <span style="color: #505a5f;">(today)</span></td>
            <td class="govuk-table__cell">£91.21</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Penalties (x4)</th>
            <td class="govuk-table__cell">5 Jan 2025 <span style="color: #505a5f;">(2 days ago)</span></td>
            <td class="govuk-table__cell">£400.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Aready paid</th>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell">£0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">TOTAL</th>
            <td class="govuk-table__cell govuk-!-font-weight-bold">7 Jan 2025 <span class="govuk-!-font-weight-regular">(today)</span></td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">£5491.21</td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View history
          </span>
        </summary>
        <div class="govuk-details__text" style="border-left: 0px solid grey; padding-left: 0px;">

          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £5,491.21 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£5.45↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by finance system
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  7th January 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £5.46 (5.25%) added for last 7 days.
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £5,485.75 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£100.00↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by finance system
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  1st January 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Late payment penalty of £100.00
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £5,385.75 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£5.44↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by finance system
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  1st January 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £5.44 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £5,380.31 total 
                <span class="govuk-!-font-weight-regular font-red">
                  (£5.42↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by finance system
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  25th December 2024 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £5.42 (5.25%) added for last 7 days
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                £5,374.89
                <span class="govuk-!-font-weight-regular font-red">
                  (£5.39↑)
                </span>
              </h2>
              <p class="hods-timeline__by">
                by finance system
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  18th December 2024 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Interest of £5.39 (5.25%) added for last 7 days
              </p>
            </div>
          </div>

        </div>
        <p><a href="/">View five more</a></p>
      </details>
    </div>
  </div>

{% endblock %}
