{% extends "layouts/english-council.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Visitor levy</a>
        </li>
        <li>
          <a class="govuk-link" href="./settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-l">Jul - Sep 2027</h3>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">483,680</span><br>
          <a href="#" class="govuk-link" style="color: #1f1f1f;">Night stays provided</a></p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #dddddd; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£870,624.00</span><br>
          <a href="#" class="govuk-link" style="color: #1f1f1f;">Visited levy collected in 2027-28</a></p>
      </div>

      <br><br>

      <h3 class="govuk-heading-m">Transactions</h3>

      <div class="govuk-form-group" style="border: 4px solid #0360a6  ; padding: 30px 30px 30px 30px; background: #fff;">
        
        <h3 class="govuk-heading-m">You need access</h3>

        <p class="govuk-body-l" style="font-size: 24px;">
        Personal tax information can only be accessed by tax authorities or for enforcement.<br>
        </p>

        <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales" style="margin-bottom: 0px ;">
          Request access
        </button>

      </div>

    </div>
  </div>

{% endblock %}
