{% extends "layouts/english-single-view.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block header %}

  {% include "components/wra-header.html" %}
  <section aria-label="Service information" class="govuk-service-navigation"
    data-module="govuk-service-navigation" id="service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
          <a href="#" class="govuk-service-navigation__link" style="color: #323232;">
            TALU
          </a>
        </span>
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
            Menu
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./transactions">
                Transactions
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" style="color: ;" href="./balances">
                Balances
              </a>
            </li>
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active" id="active-nav">
              <a class="govuk-service-navigation__link" href="./dunning" aria-current="true">
                <strong class="govuk-service-navigation__active-fallback"> Dunning</strong>
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./reports">
                Reports
              </a>
            </li>
          </ul>
        </nav>
        <span class="govuk-service-navigation__service-name" style="margin-left: auto; font-weight: 400;"><a href="#" style="color: inherit;">Sign out</a>
        </span>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <h1 class="govuk-heading-l">Track dunning process</h1>

        <form action="./summary-dunning" method="post" novalidate >

          <label class="govuk-label" for="width-10">
            Unique Transaction Reference Number
          </label>

          <div class="govuk-button-group">

            <input class="govuk-input govuk-input--width-20" id="cc" name="utrn" id="cc" value="" maxlength="14" onkeypress="return checkDigit(event)">
            <button id="phone-mask" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="display: block; float: right; background: #000; color: #fff; font-weight: 700; padding: 8px 10px 9px 10px; box-shadow: 0px 0px transparent; margin-left: 15px;">
            Search
            </button>
          </div>
        </form>

        <!-- input masking script -->
        <script>
          function cc_format(value) {
            var v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '')
            var matches = v.match(/\d{4,16}/g);
            var match = matches && matches[0] || ''
            var parts = []
            for (i=0, len=match.length; i<len; i+=4) {
              parts.push(match.substring(i, i+4))
            }
            if (parts.length) {
              return parts.join(' ')
            } else {
              return value
            }
          }

          onload = function() {
            document.getElementById('cc').oninput = function() {
              this.value = cc_format(this.value)
            }
          }
          function checkDigit(event) {
              var code = (event.which) ? event.which : event.keyCode;

              if ((code < 48 || code > 57) && (code > 31)) {
                  return false;
              }

              return true;
          }
        </script>

      </div>  

      <!-- 22 day letter -->

      <h2 class="govuk-heading-m" id="22-day">22 day reminder letter</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">163</span><br>
              Letters sent in May 2025
            </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£205.38</span><br>
              Spent in May 2025
            </p>
          </div>
        </div>

      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--text">UTRN</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">GOV.UK Notify status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 13 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Accepted
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 13 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Accepted
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 13 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Received
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="#">View all</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m" id="35-day">35 day reminder letter</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">98</span><br>
              Letters sent in May 2025
            </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£123.48</span><br>
              Spent in May 2025
            </p>
          </div>
        </div>

      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--text">UTRN</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">GOV.UK Notify status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2802 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 13 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Accepted
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2670 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:39 on 12 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Recieved
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 11 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Received
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="#">View all</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m" id="60-day">60 day penalty letter</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">8</span><br>
              Letters sent in May 2025
            </p>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div id="stat-card">
            <p>
              <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£10.08</span><br>
              Spent in May 2025
            </p>
          </div>
        </div>

      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--text">UTRN</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">GOV.UK Notify status</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2602 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 9 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Recieved
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2670 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:39 on 8 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Recieved
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 5 May 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--text">
              Received
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="#">View all</a></p>

    </div>

    <div class="govuk-grid-column-one-third" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="margin-top: 0px; border-bottom: 2px solid #323232;">

      <h3 class="govuk-heading-m">Notifications</h3>

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#22-day">22 day reminder letter</a>
        </li>
        <li>
          <a class="govuk-link" href="#35-day">35 day reminder letter</a>
        </li>
        <li>
          <a class="govuk-link" href="#60-day">60 day penalty letter</a>
        </li>   
        <li>
          <a class="govuk-link" href="#">90 day reminder letter</a>
        </li>  
        <li>
          <a class="govuk-link" href="#">6 month penalty letter</a>
        </li> 
        <li>
          <a class="govuk-link" href="#">12 month penalty letter</a>
        </li>    
      </ul>

    </div>

  </div>

{% endblock %}
