{% extends "layouts/english-single-view.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block header %}

  {% include "components/wra-header.html" %}
  <section aria-label="Service information" class="govuk-service-navigation"
    data-module="govuk-service-navigation" id="service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
          <a href="#" class="govuk-service-navigation__link" style="color: #323232;">
            TALU
          </a>
        </span>
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
            Menu
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./transactions">
                Transactions
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" style="color: ;" href="./balances">
                Balances
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./dunning">
                Dunning
              </a>
            </li>
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active" id="active-nav">
              <a class="govuk-service-navigation__link" href="./reports" aria-current="true">
                <strong class="govuk-service-navigation__active-fallback"> Reports</strong>
              </a>
            </li>
          </ul>
        </nav>
        <span class="govuk-service-navigation__service-name" style="margin-left: auto; font-weight: 400;"><a href="#" style="color: inherit;">Sign out</a>
        </span>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div id="report-card">
        <span class="govuk-caption-m">2018-current</span>
        <h2 class="govuk-heading-m">
            Debt outstanding for Land Transaction Tax
        </h2>
        <p class="govuk-body-l">
          £11,385,425
        </p>
      </div>
      <div id="card-actions">
        <p style="margin-bottom: 0px;"><a href="#">Download</a>  <span id="action-divider"></span><a href="#">View</a></p>
      </div>

      <div id="report-card">
        <span class="govuk-caption-m">2018-current</span>
        <h2 class="govuk-heading-m">
            Revenue for Land Transaction Tax
        </h2>
        <p class="govuk-body-l">
          £406,622,339 
        </p>
      </div>
      <div id="card-actions">
        <p style="margin-bottom: 0px;"><a href="#">Download</a>  <span id="action-divider"></span><a href="#">View</a></p>
      </div>

      <div id="report-card">
        <span class="govuk-caption-m">2018-current</span>
        <h2 class="govuk-heading-m">
            Debt outstanding for Landfill Disposals Tax 
        </h2>
        <p class="govuk-body-l">
          £2,043,721
        </p>
      </div>
      <div id="card-actions">
        <p style="margin-bottom: 0px;"><a href="#">Download</a>  <span id="action-divider"></span><a href="#">View</a></p>
      </div>

      <div id="report-card">
        <span class="govuk-caption-m">2018-current</span>
        <h2 class="govuk-heading-m">
            Revenue for Land Disposal Tax
        </h2>
        <p class="govuk-body-l">
          £51,622,339
        </p>
      </div>
      <div id="card-actions">
        <p style="margin-bottom: 0px;"><a href="#">Download</a>  <span id="action-divider"></span><a href="#">View</a></p>
      </div>

    </div>

    <div class="govuk-grid-column-one-third" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="margin-top: 0px; border-bottom: 2px solid #323232;">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Filter reports
            </h1>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Revenue
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked>
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Debt outstanding
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked>
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Land Transactions Tax
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked>
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Landfill Disposals Tax 
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="location">
          Select tax year
        </label>
        <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
          <option value="2025-26" selected>2025-26</option>
          <option value="2024-25">2024-25</option>
          <option value="2023-24">2023-24</option>
          <option value="2022-23">2022-23</option>
          <option value="2021-22">2021-22</option>
          <option value="2020-21">2020-21</option>
          <option value="2019-20">2019-20</option>
          <option value="2018-19">2018-19</option>
        </select>
      </div>

    </div>

  </div>

{% endblock %}
