{% extends "layouts/english-single-view.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block header %}

  {% include "components/wra-header.html" %}
  <section aria-label="Service information" class="govuk-service-navigation"
    data-module="govuk-service-navigation" id="service-navigation">
    <div class="govuk-width-container">
      <div class="govuk-service-navigation__container">
        <span class="govuk-service-navigation__service-name">
          <a href="#" class="govuk-service-navigation__link" style="color: #323232;">
            TALU
          </a>
        </span>
        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
          <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
            Menu
          </button>
          <ul class="govuk-service-navigation__list" id="navigation">
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" style="color: ;" href="./transactions">
                Transactions
              </a>
            </li>
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active" id="active-nav">
              <a class="govuk-service-navigation__link" href="./balances" aria-current="true">
                <strong class="govuk-service-navigation__active-fallback"> Balances</strong>
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./dunning">
                Dunning
              </a>
            </li>
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="./reports">
                Reports
              </a>
            </li>
          </ul>
        </nav>
        <span class="govuk-service-navigation__service-name" style="margin-left: auto; font-weight: 400;">Alex Mullins <span style="padding: 0px 5px 0px 5px;">|</span> <a href="#" style="color: inherit;">Sign out</a>
        </span>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 0px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-weight-bold">Buyer names:</span><br>
          Kelvin Ryan<br>Matthew Ryan<br><br>
          <span class="govuk-!-font-weight-bold">UTRN:</span><br>
          2507 4339 4889<br><br>
          <span class="govuk-!-font-weight-bold">Land address:</span><br>
            14 Harper Mews<br>
            Swandiff<br>
            SD16 4LF<br><br>
          <span class="govuk-!-font-weight-bold">Agent:</span><br>
          Warren Law Ltd<br>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-three-quarters">

      <div style="text-align: left; padding: 15px 15px 15px 25px; background-color: #eeeeee; border-left: 0px solid #323232;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£5,628.69</span><br>
         Outstanding balance to pay
        </p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 25px; background-color: #dddddd; border-left: 0px solid #323232;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-size: 16px; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
         Balance updated:
         <span style="font-weight: bold;"> 9:23am on 15 Jun 2025 (Today)</span>
        </p>
      </div>

      <br>
      <br>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Tax and penalties</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
            <th scope="col" class="govuk-table__header">Due date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Interest</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Land Transaction Tax</th>
            <td class="govuk-table__cell">31 Jan 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£5,500.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£149.54</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£5,649.54</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Failure to pay within 60 days</th>
            <td class="govuk-table__cell">1 Apr 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£275.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
             £4.15
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£279.15</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£5,775.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£153.69</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">£5,928.69</td>
          </tr>
        </tbody>
      </table>  

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Payments</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment</th>
            <th scope="col" class="govuk-table__header">Date paid</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">1st payment</a></th>
            <td class="govuk-table__cell">5 Apr 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="#">2nd payment</a></th>
            <td class="govuk-table__cell">2 May 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="./bank-transaction">3rd payment</a></th>
            <td class="govuk-table__cell">1 Jun 2025</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">-£100.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total payments</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">-£300.00</td>
          </tr>
        </tbody>
      </table> 

      <br>

      <h2 class="govuk-heading-m">Dunning</h2>
  
          <div class="hods-timeline">
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                60 day penalty letter
              </h2>
              <p class="hods-timeline__by">
                by GOV.UK Notify [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  1st April 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Posted to 14 Harper Mews, Swandiff, SD16 4LF
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                35 day reminder letter
              </h2>
              <p class="hods-timeline__by">
                by GOV.UK Notify [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  7th March 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Posted to 14 Harper Mews, Swandiff, SD16 4LF
              </p>
            </div>
            <div class="hods-timeline__item">
              <h2 class="hods-timeline__title">
                22 day reminder letter
              </h2>
              <p class="hods-timeline__by">
                by GOV.UK Notify [automated]
              </p>
              <p class="hods-timeline__date">
                <time
                  class="hods-date-time"
                  datetime="2021-03-15T16:27:00.000Z"
                >
                  22nd February 2025 at 9:00am
                </time>
              </p>
              <p class="hods-timeline__description">
                Posted to 14 Harper Mews, Swandiff, SD16 4LF
              </p>
            </div>
          </div>

    </div>
  </div>


{% endblock %}
