{% extends "layouts/public/english-login.html" %}
{% set alternateLink = "/cy/levy/email"%}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <form action="./security-code" method="post" id="myForm">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your Unique Transaction Reference Number?
              </h1>
            </legend>
            <label class="govuk-label" for="email">
              Unique Transaction Reference Number
            </label>
            <div id="email-hint" class="govuk-hint">
              It’s on any letter from us. For example, ‘3423 3423 6545’.
            </div>
            <input class="govuk-input govuk-input--width-10" id="phone" name="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          </div>

          <br>

          <button class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>
          
        </form>

      </div>

    </div>

  </div>

{% endblock %}
