{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 20px; margin-bottom: 0px;">Search
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 0px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-weight-bold">Name:</span><br>
          Nadiya Kanaa<br><br>
          <span class="govuk-!-font-weight-bold">UTRN:</span><br>
          2702 1339 4877<br><br>
          <span class="govuk-!-font-weight-bold">Land address:</span><br>
            71 Nunney Avenue<br>
            Swandiff<br>
            SD32 8AF<br><br>
          <span class="govuk-!-font-weight-bold">Agent:</span><br>
          Church Solicitors Ltd<br>
        </p>
      </div>

    </div>
    <div class="govuk-grid-column-three-quarters">


      <div style="background: #ffe4e5; padding: 25px; margin-bottom: 20px;">

        <div id="warning-call-out-gov-wales">

          <table class="govuk-table" style="margin-bottom: 0px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border-bottom: solid #aa1111 0px;">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="25px" viewBox="0 0 2003.000000 1996.000000"
                     preserveAspectRatio="xMidYMid meet" style="margin-top: 5px;">

                    <g transform="translate(0.000000,1996.000000) scale(0.100000,-0.100000)"
                    fill="#aa1111" stroke="none">
                    <path d="M5059 9990 c-2747 -5485 -4995 -9976 -4997 -9981 -2 -5 3953 -9 9982
                    -9 l9986 0 0 25 c0 24 -1250 2532 -2935 5890 -403 803 -1636 3265 -2740 5470
                    -2862 5716 -4287 8559 -4295 8568 -4 4 -2254 -4479 -5001 -9963z m5999 -57
                    l-3 -2858 -1002 0 -1003 0 0 2858 0 2857 1005 0 1005 0 -2 -2857z m2 -5618 l0
                    -1295 -1005 0 -1005 0 0 1295 0 1295 1005 0 1005 0 0 -1295z"/>
                    </g>
                    </svg>
                </th>
                <td class="govuk-table__cell" style="border-bottom: solid #aa1111 0px;">

                  <h2 class="govuk-error-summary__title" style="font-weight: 400; margin-bottom: 0px;">
                    There is a problem
                  </h2>
                  <br>
                  No tax or payment records were matched to this Unqiue Transaction Reference Number.

                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #ffe4e5; border-left: 3px solid #aa1111;">
        <p style="margin-bottom color: #1f1f1f; margin-bottom: 0px;">
          There is a problem
          <br><br>
          No tax or payment records were matched to this Unqiue Transaction Reference Number.
        </p>
      </div>

      <br>

      <div style="text-align: left; padding: 15px 15px 15px 25px; background-color: #ffe4e5; border-left: 10px solid #aa1111;">
        <p style="margin-bottom color: #1f1f1f; margin-bottom: 0px;">
          <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">There is a problem</span>
          <br><br>
          No tax or payment records were matched to this Unqiue Transaction Reference Number.
        </p>
      </div>

      <br>

      <div style="text-align: left; padding: 15px 15px 15px 25px; background-color: #eeeeee; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£0.00</span><br>
         Outstanding balance to pay
        </p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 25px; background-color: #dddddd; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-size: 16px; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
         Balance updated:
         <span style="font-weight: bold;"> 11:48am on 5 Jun 2025 (Today)</span>
        </p>
      </div>

      <br>
      <br>

      <table class="govuk-table govuk-table--small-text-until-tablet">
        <caption class="govuk-table__caption govuk-table__caption--m">Tax and penalties</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Item</th>
            <th scope="col" class="govuk-table__header">Due date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Interest</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total tax and penalties</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">£0.00</td>
          </tr>
        </tbody>
      </table>  

      <br>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Payments</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Payment</th>
            <th scope="col" class="govuk-table__header">Date paid</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total payments</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">£0.00</td>
          </tr>
        </tbody>
      </table> 

      <br>

      <h3 class="govuk-heading-m">Interest</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Period</th>
            <th scope="col" class="govuk-table__header">Rate</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Daily interest</th>
            <td class="govuk-table__cell">7.25%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
          </tr>
          <!--
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Failure to pay within 60 days</th>
            <td class="govuk-table__cell">30 Aug 2025</td>
            <td class="govuk-table__cell">5% of tax</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£209.65</td>
          </tr>
        -->
        </tbody>
      </table>  
  
    </div>
  </div>


{% endblock %}
