{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">

        <p id="confirmation-gov-wales">
          <span class="govuk-!-font-size-24">Success</span><br><br>
          <span class="govuk-!-font-weight-regular">Ceri Thomas has been sent a request for you to take on liability for 68 Blaneff Drive, Carmouth, CM32 4LF.</span>
        </p>

        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">An email has been sent to the current liable person to approve or reject your request.</p>
        <p class="govuk-body">This request will expired in 21 days.</p>
        <p class="govuk-body"><a href="#" class="govuk-link">
          Cancel this request</a> anytime before its approved or rejected.</p>

      </div>

    </div>
  </div>

{% endblock %}
