{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="/en/levy/settings">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>

        <h1 class="govuk-heading-l" style="margin-bottom: 5px;">
          This property is already registered
        </h1>

        <table id="call-out-table-gov-wales">
          <tr>
            <td style="padding-bottom: 10px">Liable person:</td>
            <td id="table-cell" style="padding-bottom: 10px">Ceri Thomas</td>
          </tr>
          <br>
          <tr>
            <td style="padding-bottom: 10px">Organisation:</td>
            <td style="padding-bottom: 10px" id="table-cell">Coast Getaways Limited</td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px; vertical-align: top;">Address:</td>
            <td style="padding-bottom: 10px" id="table-cell">68 Blaneff Drive<br>Carmouth<br> CM32 4LF</td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px">Accommodation type:</td>
            <td style="padding-bottom: 10px" id="table-cell">B&B</td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px">Council:</td>
            <td style="padding-bottom: 10px" id="table-cell">Carmouth Council</td>
          </tr>
          <tr>
            <td style="padding-bottom: 10px">Registered:</td>
            <td style="padding-bottom: 10px" id="table-cell">29 July 2025</td>
          </tr>
        </table>

        <br>

        <p class="govuk-body">You can request to be the liable person for this property. An email will be sent to the current liable person to approve or reject your request.</p>

        <form class="form" action="./confirm-request" method="post">
          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Request to be liable for this property
          </button>
        </form>

      </div>

    </div>
  </div>

{% endblock %}
