{% extends "layouts/english-signed-in.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="font-style">
    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Tax and payments</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Properties</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Licences</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Messages (2)</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Settings</a>
        </li>
      </ul>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" id="form-background-gov-wales">
        <a href="#" class="govuk-back-link" style="margin-top: 0px;">Back</a>


        <form class="form" action="./preview-current-liable-person" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Select property address
                </h1>
              </legend>
              <br>
              <p id="call-out-gov-wales" style="background: #fff;">
                <span style="font-weight: 400;">Postcode</span> CM32 4LF
              </p>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="location">
                    Choose addresss
                  </label>
                  <select class="govuk-select" id="location" name="location" aria-describedby="location-hint">
                    <option selected="" disabled="">Choose address</option>
                    <option value="250029368">56 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029369">58 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029370">60 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029371">62 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029372">64 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029373">66 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029374">68 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029375">70 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029376">71 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029377">72 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029378">73 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029379">74 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029380">75 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029381">76 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029382">77 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029383">79 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029384">81 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029385">83 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029386">85 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029387">87 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029388">89 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029389">91 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029390">93 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029391">95 Blaneff Drive, Carmouth, CM32 4LF</option>
                    <option value="250029392">97 Blaneff Drive, Carmouth, CM32 4LF</option>
                  </select>
                </div>
            </fieldset>
          </div>

          <br>

          <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
            Continue
          </button>

        </form>

      </div>

    </div>
  </div>

{% endblock %}
