{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/dashboard"%}

{% block pageTitle %}
  Home - Provide accommodation in Wales
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <ul class="govuk-list" id="side-nav-gov-wales">
        <li>
          <a class="govuk-link" href="#land-transaction-tax">Tax returns</a>
        </li>
        <li>
          <a class="govuk-link" href="#land-transaction-tax">Revenue</a>
        </li>
        <li>
          <a class="govuk-link" href="#landfill-disposal-tax">Outstanding debt</a>
        </li>
        <li>
          <a class="govuk-link" href="#visitor-levy">Visitor levy</a>
        </li>      
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l" id="top">Land Transaction Tax</h1>

      <h2 class="govuk-heading-m" id="land-transaction-tax">Land Transaction Tax</h2>

      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #eeeeee; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">58,671</span><br>
          Tax returns filed in 2027-2028</p>
      </div>
      <div style="text-align: left; padding: 15px 15px 15px 15px; background-color: #dddddd; border-left: 10px solid #0360a6;">
        <p style="margin-bottom: 0; color: #1f1f1f; font-style: Arial,Helvetica,"Nimbus Sans L",sans-serif;">
          <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">£406,622,339</span><br>
          Land Transaction Tax collected in 2027-28</p>
      </div>
      <br>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Period</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Collected</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric ">Transactions</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jan - Mar 2028</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            £103,902,243
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            16,431
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Oct - Dec 2027</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            £98,242,002
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            13,024
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Jul - Sep 2027</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            £101,476,862
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            15,023
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apr - Jun 2027</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            £103,001,232
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            14,193
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
