{% extends "layouts/english-backoffice.html" %}
{% set alternateLink = "/cy/register/homepage"%}
{% set pageName="Payments prototypes" %}

{% block beforeContent %}
  <a href="javascript:history.go(-1)" class="govuk-back-link" id="back-link-gov-wales" style="margin-top: 20px; margin-bottom: 0px;">Search
  </a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" style="position: -webkit-sticky; /* Safari */ position: sticky; top: 30px;">

      <h1 class="govuk-heading-l">16 April 2025</h1>
      <p class="govuk-body-s">Upload to F&O: <span style="font-weight: 700;">17:00 today (automatic)</span></p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" style="margin-bottom: 20px;">51 bank transactions <span style="color: #b1b4b6; font-weight: 400; padding: 0px 10px 0px 10px;">|</span> £231,085.16</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-table__header--text">Reference</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text">Booking</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
          <th scope="col" class="govuk-table__header govuk-table__header--text"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2826 0532 0617 
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
             2782 2423 0349
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:03 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £7,507.21
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2702 1339 4877
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              14:07 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £5,091.32
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              2770 2429 9382
            </th>
            <td class="govuk-table__cell govuk-table__cell--text">
              13:39 on 16 April 2025
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              £4,221.98
            </td>
            <td class="govuk-table__cell govuk-table__cell--text"><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>


{% endblock %}
