{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payments prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-l">Future payments service</h1>

    <p class="govuk-body">Descriptions of how the payments service should work in 2-3 years.</p> 

    <ul class="govuk-list govuk-list--number">
      <li>
        <a href="#">
          Automated by default
        </a>
      </li>
      <li>
        <a href="#">
          Data you can trust - real-time and whole
        </a>
      </li>
      <li>
        <a href="#">
          Everything auditable
        </a>
      </li>
      <li>
        <a href="#">
          Intuitive design - no training, no manuals
        </a>
      </li>
      <li>
        <a href="#">
          Doing in the documentation - no manual casework
        </a>
      </li>
      <li>
        <a href="#">
          Self-service for those who can
        </a>
      </li>
      <li>
        <a href="#">
          Human support for those who need it
        </a>
      </li>
      <li>
        <a href="#">
          One view, many data sources
        </a>
      </li>
      <li>
        <a href="#">
          Proactive - so debt stays small
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
