{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payments prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <p class="govuk-body-l">We are a team at the Welsh Revenue Authority, tasked with delivering improvements to how the organisation takes and calculates payments.</p>

    <p class="govuk-body-l">This website documents how these improvements would work and look.</p> 

    <p class="govuk-body-m"><a href="#">Read about the thinking behind these prototypes</a></p>     
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 1 - April 2024</span>
    <h2 class="govuk-heading-m">How much do I owe?</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/check/v1/debt-letter">
          Debt letter
        </a>
      </li>
      <li>
        <a href="/en/check/v1/dashboard">
          Dashboard with highlighted cases
        </a>
      </li>
      <li>
        <a href="/en/check/v1/complex-unpaid-invoices">
          Complex case (unpaid invoices)
        </a>
      </li>
      <li>
        <a href="/en/check/v1/complex-installments">
          Complex case (installments)
        </a>
      </li>
      <li>
        <a href="/en/check/v1/complex-amendments">
          Complex case (amendments)
        </a>
      </li>
    </ul>

    <br>

    <span class="govuk-caption-m">Sprint 2 - May 2024</span>
    <h2 class="govuk-heading-m">Single view</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/check/complex-unpaid-invoices">
          Unpaid invoices - single view
        </a>
      </li>
      <li>
        <a href="/en/check/letter-unpaid-invoices">
          Unpaid invoices - letter preview
        </a>
      </li>
      <li>
        <a href="/en/check/complex-installments">
          Installments - single view
        </a>
      </li>
      <li>
        <a href="/en/check/letter-installments">
          Installments - letter preview
        </a>
      </li>
      <li>
        <a href="/en/check/complex-amendments">
          Amendents - single view
        </a>
      </li>
      <li>
        <a href="/en/check/letter-amendments">
          Amendents - letter preview
        </a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
