{% extends "layouts/english-index.html" %}
{% set alternateLink = "/cy/index"%}

{% block pageTitle %}
  Payments prototypes
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <p class="govuk-body-l">We are a team at the Welsh Revenue Authority, tasked with delivering improvements to how the organisation takes and calculates payments.</p>

    <p class="govuk-body-l">This website documents how these improvements would work and look.</p> 

    <p class="govuk-body-m"><a href="#">Read about the thinking behind these prototypes</a></p>     
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 5 - June 2024</span>
    <h2 class="govuk-heading-m">Refinement</h2>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--green">
        Production
      </strong>
      Version.2
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/production/v2/search-one">
          Just tax with some interest
        </a>
      </li>
      <li>
        <a href="/en/production/v2/search-two">
          Instalments
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 4 - June 2024</span>
    <h2 class="govuk-heading-m">Basic design</h2>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--green">
        Production
      </strong>
      Version.1
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/production/v1/search-utrn">
          Search page
        </a>
      </li>
      <li>
        <a href="/en/production/v1/basic-design">
          Basic settlement page
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--yellow">
        MVP prototype
      </strong>
      Version.4
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/prototype/v4/search-one">
          Just tax with some interest
        </a>
      </li>
      <li>
        <a href="/en/prototype/v4/search-two">
          Instalments
        </a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--blue">
        Future thinking
      </strong>
      Version.1
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/future/v1/self-serve/utrn">
          Self-service - check balance
        </a>
      </li>
      <li>
        <a href="/en/future/v1/self-serve/utrn">
          Self-service - pay
        </a>
      </li>
      <li>
        <a href="/en/future/v1/self-serve/tax-records">
          Self-service - view all tax records
        </a>
      </li>
      <li>
        <a href="/en/future/v1/self-serve/amend/amount">
          Self-service - make an amendment
        </a>
      </li>
      <li>
        <a href="/en/future/v1/internal/single-view">
          Internal - single view
        </a>
      </li>
      <li>
        <a href="/en/future/v1/internal/revenue-dashboard">
          Internal - revenue dashboard
        </a>
      </li>
      <li>
        <a href="/en/future/v1/internal/debt-dashboard">
          Internal - debt dashboard
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 3 - May 2024</span>
    <h2 class="govuk-heading-m">Test MVP with users</h2>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--yellow">
        MVP prototype
      </strong>
      Version.3
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/prototype/v3/dashboard-scenario-1">
          Just tax with some interest
        </a>
      </li>
      <li>
        <a href="/en/prototype/v3/dashboard-scenario-2">
          Instalments
        </a>
      </li>
      <li>
        <a href="/en/prototype/v3/instalments-PDF-preview">
          Instalments - with letter preview
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 2 - May 2024</span>
    <h2 class="govuk-heading-m">Single view</h2>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--yellow">
        MVP prototype
      </strong>
      Version 2
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/prototype/v2/complex-unpaid-invoices">
          Unpaid invoices - single view
        </a>
      </li>
      <li>
        <a href="/en/prototype/v2/letter-unpaid-invoices">
          Unpaid invoices - letter preview
        </a>
      </li>
      <li>
        <a href="/en/prototype/v2/complex-installments">
          Instalments - single view
        </a>
      </li>
      <li>
        <a href="/en/prototype/v2/letter-installments">
          Instalments - letter preview
        </a>
      </li>
      <li>
        <a href="/en/prototype/v2/complex-amendments">
          Amendents - single view
        </a>
      </li>
      <li>
        <a href="/en/prototype/v2/letter-amendments">
          Amendents - letter preview
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <span class="govuk-caption-m">Sprint 1 - April 2024</span>
    <h2 class="govuk-heading-m">How much do I owe?</h2>

    <h3 class="govuk-heading-s">
      <strong class="govuk-tag govuk-tag--yellow">
        MVP prototype
      </strong>
      Version 1
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/en/prototype/v1/debt-letter">
          Debt letter
        </a>
      </li>
      <li>
        <a href="/en/prototype/v1/dashboard">
          Dashboard with highlighted cases
        </a>
      </li>
      <li>
        <a href="/en/prototype/v1/complex-unpaid-invoices">
          Complex case (unpaid invoices)
        </a>
      </li>
      <li>
        <a href="/en/prototype/v1/complex-installments">
          Complex case (installments)
        </a>
      </li>
      <li>
        <a href="/en/prototype/v1/complex-amendments">
          Complex case (amendments)
        </a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
